# Use root/example as user/password credentials

services:

  mysql:
    image: mysql:8.0.43
    platform: linux/amd64
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: example
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d

  redis:
    image: redis:8.2.2
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
